.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
  }


  
  .checkout__ad {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }

  .checkout div {
    padding-left: 5px;
  }

  @media only screen and (max-width: 1080px) {
    .checkout {
      flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 650px) {
    .checkout {
      min-height: calc(100vh - 150px);
    }
  }
  